@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Pathway Extreme", sans-serif;
}

.custom-container{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}